@model IEnumerable<OnlineShoppingSystem.Models.CustomerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<table border="1">
    <tr>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Choice</td>
    </tr>
    @foreach(OnlineShoppingSystem.Models.CustomerSignup item in @Model)
        {
        <tr>
            <td>
                @item.customerName
            </td>
            <td>
                @item.customerMobile
            </td>
            <td>
                @item.customerEMail
            </td>
        </tr>
    }
</table>*@

