@model IEnumerable<OnlineShoppingSystem.Models.CustomerViewModel>
@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Design/OnlineShoppingDesign.css" rel="stylesheet" type="text/css" />
    <h class="fontStyle">Welcome to Online Shopping</h>
</head>
<body>
</body>