.header{
    padding-top:1px;
    padding-bottom:1px;
    color:#7a7877;
    background-color:white;
    display:flex;
}
.header:hover{
    color:red;
}
.logo{
    width:190px;
    height:70px;
    padding-top:5px;
    padding-left:10px;
}
a{
    text-decoration:none;
    color:red;
    font-size:20px;
}
a:hover{
    color:green;
}
.spacing{
    padding-left:30px;
}
.fontStyle{
    padding-left:500px;
    text-decoration:none;
    align-content:center;
    color:black;
    font-family:'Comic Sans MS';
    font-size:35px;
}
.masterpage{
    float:right;
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family:'Comic Sans MS';
}
.loginheader{
    font-family:'Bauhaus 93';
    font-size:30px;
    text-align:center;
}
.logintable{
    border:none;
    font-size:25px;
    height:200px;
    font-family:'Comic Sans MS';
}
.textbox{
    width: 100%;
    padding: 1% 1%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #cce6ff;
}
.signuptable{
    border:none;
    font-size:25px;
    height:400px;
    font-family:'Comic Sans MS';
}
.button {
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family:'Comic Sans MS';
}
.button:hover {background-color: #3e8e41}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}